@import './theme';

.header {
  background-color: $greyscale-50;
  height: 2.6rem;
  position: sticky;
  top: 0;
  z-index: 99;

  .logo {
    color: $primary-400;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
  }
}

.hanging {
  position: sticky;
  top: 0;
  z-index: 1;
  overflow-y: auto;
  height: calc(100vh - 2.6rem);

  &::-webkit-scrollbar {
    width: 0;
  }
}

// DATE
.appointment-datepicker {
  .react-date-picker__wrapper {
    padding: .175rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    margin-bottom: -1rem;
    border-radius: .25rem 0 0 .25rem;
    background-color: #ebebeb;
    border: 1px solid transparent !important;
    border-radius: .25rem;
  }
  .react-date-picker__calendar {
    z-index: 100;
  }
}

.modal {
  display: block;

  .backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    animation: fadeModal 800ms;
  }

  .modal-dialog {
    // width: 100%;
  }
}
@keyframes fadeModal {
  from {
    background-color: rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
  }
}
.scrollable {
  max-height: 60vh;
  overflow-y: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  width: min-content;
  margin-left: auto;

  &-btn {
    // padding: 0.6rem 1.2rem;
    // margin-bottom: 0.3rem;
    color: $greyscale-300;
    box-shadow: 0 0 0 transparent !important;

    &.active {
      color: $greyscale-600;

      &:before {
        content: '';
        background-color: $primary-500;
        border-radius: 50%;
        width: 0.4rem;
        height: 0.4rem;
        // box-shadow: 0 0.1rem 0.2rem transparentize($color: $primary-500, $amount: 0.2),
        //   0 0 0.4rem transparentize($color: $primary-500, $amount: 0.6);

        position: absolute;
        margin-left: -1.4rem;
        z-index: 2;
        animation: fadeNavDot 400ms;
      }
    }
    @keyframes fadeNavDot {
      from {
        background-color: transparent;
      }
      to {
        background-color: $primary-500;
      }
    }

    .material-icons {
      display: inline;
    }
    &-text {
      font-weight: 500;
      white-space: nowrap;
    }
  }
}
// .card {
//   background-color: $greyscale-50;
//   margin: 1rem;
//   border-radius: 1.2rem;
//   @include BoxShadow(2);
// }
.search {
  padding: 1rem 2rem;
  width: calc(100% - 4rem);
  margin: 0 2rem;
  display: flex;
  align-items: center;
  color: $greyscale-300;
  &__icon {
    position: absolute;
    margin-left: 3rem;
    .material-icons {
      @include FontSize(6);
      font-weight: bold;
    }
  }
  &__input {
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
    margin: 2rem;
    padding-left: 4.5rem;
    @include FontSize(8);
    color: $greyscale-700;
    letter-spacing: 0.05rem;
    outline: none;
    border-width: 0 0 0.2rem 0;
    border-color: $greyscale-300;
    background-color: transparent;
    &::placeholder {
      color: $greyscale-300;
    }
  }
}
.result {
  // padding:
}
.card-container {
  // display: flex;
  // justify-content: flex-start;
  // flex-direction: row;
  // flex-wrap: wrap;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, 15rem);
}
